/* Truncate */

.Truncate {
  display: inline-flex;
  min-width: 0;
  max-width: 100%;
}

.Truncate > .Truncate-text {
    min-width: 1ch;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.Truncate > .Truncate-text + .Truncate-text {
      margin-left: var(--primer-control-small-gap, 4px);
    }

.Truncate > .Truncate-text.Truncate-text--primary {
      flex-basis: 200%;
    }

.Truncate > .Truncate-text.Truncate-text--expandable:hover,
    .Truncate > .Truncate-text.Truncate-text--expandable:focus,
    .Truncate > .Truncate-text.Truncate-text--expandable:active {
      max-width: 100% !important;
    }

.Truncate > .Truncate-text.Truncate-text--expandable:hover,
    .Truncate > .Truncate-text.Truncate-text--expandable:focus,
    .Truncate > .Truncate-text.Truncate-text--expandable:active {
      flex-shrink: 0;
      cursor: pointer;
    }
