.btn-mktg {
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 15%) 0%, rgba(255, 255, 255, 0%) 100%),
    var(--color-mktg-btn-bg) !important;
  -webkit-appearance: none !important;
          appearance: none !important;
}

.btn-mktg {
  position: relative;
  z-index: 1;
  display: inline-block;

  /* stylelint-disable-next-line primer/spacing */
  padding: 0.9rem 1.5rem 1.1rem;

  /* stylelint-disable-next-line primer/typography */
  font-size: 1rem;
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: 1;
  color: var(--color-canvas-default);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
          user-select: none;
  border: 0;

  /* stylelint-disable-next-line primer/borders */
  border-radius: 0.375rem;
  transition: box-shadow 0.2s, outline 0.2s ease;
}

.btn-mktg::before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 15%) 0%, rgba(255, 255, 255, 0%) 100%) !important;
  }

.btn-mktg::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';

    /* stylelint-disable-next-line primer/colors */
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.2s;
    background-blend-mode: normal;
  }

.btn-mktg:hover {
    box-shadow: var(--color-mktg-btn-shadow-hover) !important;
  }

.btn-mktg:hover {
    text-decoration: none;
  }

.btn-mktg:hover::before, .btn-mktg:focus::before, .btn-mktg:focus-visible::before, .btn-mktg.focus::before {
      opacity: 1;
    }

/* fallback :focus state */

.btn-mktg:focus {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: 2px;
    box-shadow: none;

    /* remove fallback :focus if :focus-visible is supported */
  }

.btn-mktg:focus:not(:focus-visible) {
      outline: solid 1px transparent;
      box-shadow: none;
    }

/* default focus state */

.btn-mktg:focus-visible {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: 2px;
    box-shadow: none;
  }

.btn-mktg:active::before {
      opacity: 0.5 !important;
    }

.btn-mktg.disabled,
  .btn-mktg[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

.btn-muted-mktg {
  color: var(--color-fg-default) !important;
  background: none !important;
}

.btn-muted-mktg {
  box-shadow: var(--color-mktg-btn-shadow-outline);
}

.btn-muted-mktg::before {
    display: none;
  }

.btn-muted-mktg:hover {
    box-shadow: var(--color-mktg-btn-shadow-hover-muted) !important;
  }

.btn-muted-mktg:active {
    box-shadow: var(--color-fg-default) 0 0 0 3px inset !important;
  }

.btn-muted-mktg:active {

    /* stylelint-disable-next-line primer/box-shadow */
  }

.btn-muted-mktg:disabled {
    box-shadow: var(--color-fg-subtle) 0 0 0 1px inset !important;
  }

.btn-muted-mktg:disabled {

    /* stylelint-disable-next-line primer/box-shadow */
  }

.btn-subtle-mktg {
  color: var(--color-fg-default) !important;
  background: none !important;
  box-shadow: none !important;
}

.btn-subtle-mktg::before {
    background: none !important;
  }

.btn-subtle-mktg:hover {
    box-shadow: var(--color-mktg-btn-shadow-hover-muted) !important;
  }

.btn-signup-mktg {
  background: linear-gradient(180deg, rgba(52, 183, 89, 15%) 0%, rgba(46, 164, 79, 0%) 100%), rgb(46, 164, 79) !important;
}

.btn-signup-mktg {

  /* stylelint-disable-next-line primer/colors */
  color: #fff;

  /* stylelint-disable-next-line primer/colors */
}

.btn-signup-mktg::before {
    background: linear-gradient(180deg, rgba(52, 183, 89, 15%) 0%, rgba(46, 164, 79, 0%) 100%) !important;
  }

.btn-signup-mktg::before {

    /* stylelint-disable-next-line primer/colors */
  }

/* fallback :focus state */

.btn-signup-mktg:focus {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: 2px;
    box-shadow: none;

    /* remove fallback :focus if :focus-visible is supported */
  }

.btn-signup-mktg:focus:not(:focus-visible) {
      outline: solid 1px transparent;
      box-shadow: none;
    }

/* default focus state */

.btn-signup-mktg:focus-visible {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: 2px;
    box-shadow: none;
  }

/* Size modifiers */

.btn-small-mktg {

  /* stylelint-disable-next-line primer/spacing */
  padding: 0.625rem 1rem 0.8125rem;
}

.btn-large-mktg {
  padding: 16px 30px 20px !important;
}

.btn-large-mktg {

  /* stylelint-disable-next-line primer/spacing */

  /* stylelint-disable-next-line primer/typography */
  font-size: 1.25rem;
}
