/* CSS truncate */

/* css-truncate will shorten text with an ellipsis. */

/* css-truncate-overflow will shorten text with an ellipsis when overflowing */

.css-truncate.css-truncate-overflow,
  .css-truncate .css-truncate-overflow,
  .css-truncate.css-truncate-target,
  .css-truncate .css-truncate-target {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

/* css-truncate-target will shorten text with an ellipsis and a max width */

.css-truncate.css-truncate-target,
  .css-truncate .css-truncate-target {
    display: inline-block;
    max-width: 125px;
    vertical-align: top;
  }

.css-truncate.expandable.zeroclipboard-is-hover .css-truncate-target,
  .css-truncate.expandable.zeroclipboard-is-hover.css-truncate-target,
  .css-truncate.expandable:hover .css-truncate-target,
  .css-truncate.expandable.css-truncate-target:hover {
    max-width: 10000px !important;
  }
